<% if(!user){ %>

<div class="ui-form ui-border-t">
  <div class="ui-form-item ui-border-b">
      <label>姓名</label>
      <% if(!name){ %>
      <input type="text" class="bind-name" placeholder="请输入姓名">
      <% }else{ %>
      <input type="text" disabled readonly="true" class="bind-name" placeholder="请输入姓名" value="<%= name %>">
      <% } %>
  </div>
  <div class="ui-form-item ui-border-b">
      <label>学号</label>
      <% if(!studentid){ %>
      <input type="number" class="bind-studentcode" placeholder="请输入学号">
      <% }else{ %>
      <input type="number" disabled readonly="true" class="bind-studentcode" placeholder="请输入学号" value="<%= studentid %>">
      <% } %>
  </div>
  <div class="ui-form-item ui-border-b">
      <label>联系方式</label>
      <% if(!phone){ %>
      <input type="number" class="bind-phone" placeholder="请输入联系方式">
      <% }else{ %>
      <input type="number" disabled readonly="true" class="bind-phone" placeholder="请输入联系方式" value="<%= phone %>">
      <% } %>
  </div>
  <% if(!name){ %>
  <div class="ui-btn-wrap">
    <button class="ui-btn-lg  ui-btn-primary bind-btn">
        确定
    </button>
  </div>
  <% } %>
</div>

<% }else{ %>

<div class="ui-form ui-border-t">
  <div class="ui-form-item ui-border-b">
      <label>联系方式</label>
      <input type="number" class="reply-phone" placeholder="请输入联系方式" value="<%= user.contactmode %>">
  </div>
  <h4 style="height:10px;"></h4>
  <div class="ui-form-item ui-border-b">
      <label class="reply-info">姓名</label>
      <input type="text" disabled readonly="true" class="bind-name" placeholder="暂无信息" value="<%= user.username %>">
  </div>
  <div class="ui-form-item ui-border-b">
      <label class="reply-info">工号</label>
      <input type="number" disabled readonly="true" class="bind-studentcode" placeholder="暂无信息" value="<%= user.jobnumber %>">
  </div>
  <div class="ui-form-item ui-border-b">
      <label class="reply-info">校区</label>
      <input type="text" disabled readonly="true" class="bind-school" placeholder="暂无信息" value="<%= user.cname %>">
  </div>
  <div class="ui-form-item ui-border-b">
      <label class="reply-info">职责部门</label>
      <input type="text" disabled readonly="true" class="bind-department" placeholder="暂无信息" value="<%= user.sname %>">
  </div>
  
  
  <div class="ui-btn-wrap">
    <button class="ui-btn-lg  ui-btn-primary replySave-btn">
        保存
    </button>
  </div>
</div>

<% } %>

<div class="ui-dialog bind-dialog">
  <div class="ui-dialog-cnt">
    <div class="ui-dialog-bd">
      <div>绑定后无法修改，请确保输入信息的正确性！</div>
    </div>
    <div class="ui-dialog-ft">
      <button type="button" data-role="button" class="bind-cancle">取消</button>
      <button type="button" data-role="button" class="bind-sure">确认绑定</button>
    </div>
  </div>        
</div>