<div class="ui-tab">
  <ul class="ui-tab-nav ui-border-b">
    <li class="current <% if(isreds){ %> ui-reddot-s <% } %> ">我的<i></i></li>
    <li></li>
    <li></li>
  </ul>
  
  <% if(messageList.length>0){ %>
  
  <div id="wrapper" class="<% if(!messageList || messageList.length<=0){ %> hide <% } %> index-wrapper">
    <div id="scroller">
      <ul class="ui-list ui-list-pure">
        
        <% for(var i=0,ilen=messageList.length;i<ilen;i++){ %>
        <li class="ui-border-t">
          <p>
            <span class="color-<%=messageList[i].colorid %>"><%= messageList[i].tname %></span>
            <span class="date"><%=messageList[i].createdate %></span>
          </p>
          <p>
            <i><%= messageList[i].sid %></i>
            <span class="<% if(messageList[i].state==0){ %> un-reply <% }%> <% if(messageList[i].isred==1){ %> ui-reddot-s <% }%>">
              <% if(messageList[i].state==0){ %> 待回复 <% }else{ %> 已回复 <% } %>
            </span>
          </p>
          <div class="<% if(messageList[i].isread==1){ %> touched <% }%>" data-id="<%=messageList[i].id %>" ><%=messageList[i].content %></div>
        </li>
        <% } %>
        
      </ul>
      <div id="more" class=""> <% if(isFinish){ %> 已无更多数据 <% }else{ %>上滑加载更多 <% } %> </div>
    </div>
  </div>
  
  <% } %>
  
</div>

<div class="ui-notice <% if(messageList.length>0){ %> hide <% } %>">
  <i></i>
  <p>还没有数据</p>
</div>

<div id="write"><a href="#submessage"><i class="iconfont icon-write"></i></a></div>