<div class="ui-tab reply-tab">
  <ul class="ui-tab-nav ui-border-b">
    <li data-li="1" class="<% if(currentTabReply){ %> 
    <% if(currentTabReply === 1){ %> current <% } %> 
    <% }else{ %> current <% } %>
    <% if(isredsNo){ %> ui-reddot-s <% } %> ">待回复</li>
    <li data-li="2" class="<% if(currentTabReply){ %> 
    <% if(currentTabReply === 2){ %> current <% } %> 
    <% } %>
    <% if(isredsHave){ %> havereply-reddot-s <% } %> ">已回复</li>
  </ul>
  
      <div id="wrapper-no" class="<% if(currentTabReply){ %> 
      <% if(currentTabReply === 1){ %>
      <% if(!noReplyList || noReplyList.length<=0){ %> hide <% } %> 
      <% }else{ %>
      hide
      <% } %>
      <% }else{ %>
      <% if(!noReplyList || noReplyList.length<=0){ %> hide <% } %> 
      <% } %>
      reply-wrapper-no">
        <div id="scroller-no">
      
          <ul class="ui-list ui-list-pure">
            
            <% for(var i=0,ilen=noReplyList.length;i<ilen;i++){ %>
            <li class="ui-border-t">
              <p>
                <span class="color-<%=noReplyList[i].colorid %>"><%= noReplyList[i].tname %></span>
                <span class="date"><%= noReplyList[i].createdate %></span>
              </p>
              <p>
                <i><%= noReplyList[i].sid %></i>
                <span class="un-reply <% if(noReplyList[i].isred==1){ %> ui-reddot-s <% }%>">待回复</span>
              </p>
              <div class="<% if(noReplyList[i].isread==1){ %> touched <% }%>" data-id="<%=noReplyList[i].id %>"  ><%=noReplyList[i].content %></div>
            </li>
            <% } %>
            
          </ul>
        
          <div id="more" class=""> <% if(isFinishNoReply){ %> 已无更多数据 <% }else{ %>上滑加载更多 <% } %> </div>  
        </div>
      </div>
      
    
      <div id="wrapper-have" class="<% if(currentTabReply){ %> 
      <% if(currentTabReply === 2){ %>
      <% if(!haveReplyList || haveReplyList.length<=0){ %> hide <% } %> 
      <% }else{ %>
      hide
      <% } %>
      <% }else{ %>
      hide
      <% } %> 
      reply-wrapper-have">
        <div id="scroller-have">
      
          <ul class="ui-list ui-list-pure">
            
            <% for(var i=0,ilen=haveReplyList.length;i<ilen;i++){ %>
            <li class="ui-border-t">
              <p>
                <span class="color-<%=haveReplyList[i].colorid %>"><%= haveReplyList[i].tname %></span>
                <span class="date"><%= haveReplyList[i].createdate %></span>
              </p>
              <p>
                <i><%= haveReplyList[i].sid %></i>
                <span class="<% if(haveReplyList[i].isred==1){ %> ui-reddot-s <% }%>">已回复</span>
              </p>
              <div class="<% if(haveReplyList[i].isread==1){ %> touched <% }%>" data-id="<%=haveReplyList[i].id %>"  ><%=haveReplyList[i].content %></div>
            </li>
            <% } %>
            
          </ul>
          
          <div id="more" class=""> <% if(isFinishNoReply){ %> 已无更多数据 <% }else{ %>上滑加载更多 <% } %> </div>  
        </div>
      </div>
      
      <div class="ui-notice 
      <% if(currentTabReply){ %> 
      <% if(currentTabReply === 1){ %>
      <% if(noReplyList.length>0){ %> hide <% } %>
      <% }else{ %>
      <% if(haveReplyList.length>0){ %> hide <% } %>
      <% } %>
      <% }else{ %>
      <% if(noReplyList.length>0){ %> hide <% } %>
      <% } %> 
      " >
        <i></i>
        <p>还没有数据</p>
      </div>
      
  
</div>


